Assignment 1

In [56]:
import sklearn
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.impute import SimpleImputer

from sklearn.impute import SimpleImputer
from sklearn.metrics import roc_auc_score
from sklearn.compose import make_column_selector, make_column_transformer, ColumnTransformer

import warnings
warnings.filterwarnings('ignore')

In [57]:
df = pd.read_csv(r'C:\Users\DAI.STUDENTSDC\Desktop\Machine Learning\Data Sets\Loan_approval\train.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [58]:
df_test = pd.read_csv(r'C:\Users\DAI.STUDENTSDC\Desktop\Machine Learning\Data Sets\Loan_approval\test.csv')
df_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [59]:
X = df.drop(columns=['Loan_Status'])
y = df['Loan_Status'].astype('category')


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=24, stratify=y)

In [60]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 491 entries, 404 to 275
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            491 non-null    object
 1   Gender             480 non-null    object
 2   Married            488 non-null    object
 3   Dependents         477 non-null    object
 4   Education          491 non-null    object
 5   Self_Employed      468 non-null    object
 6   ApplicantIncome    491 non-null    int64
 7   CoapplicantIncome  491 non-null    float64
 8   LoanAmount         474 non-null    float64
 9   Loan_Amount_Term   481 non-null    float64
 10  Credit_History     447 non-null    float64
 11  Property_Area      491 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 49.9+ KB

In [61]:
X_train.isnull().sum()

Loan_ID               0
Gender               11
Married               3
Dependents           14
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           17
Loan_Amount_Term     10
Credit_History       44
Property_Area         0
dtype: int64

In [62]:
X_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
404,LP002301,Female,No,0,Graduate,Yes,7441,0.0,194.0,360.0,1.0,Rural
248,LP001824,Male,Yes,1,Graduate,No,2882,1843.0,123.0,480.0,1.0,Semiurban
300,LP001964,Male,Yes,0,Not Graduate,No,1800,2934.0,93.0,360.0,0.0,Urban
160,LP001560,Male,Yes,0,Not Graduate,No,1863,1041.0,98.0,360.0,1.0,Semiurban
30,LP001091,Male,Yes,1,Graduate,NaN,4166,3369.0,201.0,360.0,NaN,Urban

In [ ]:
#Testing
ohe = OneHotEncoder(sparse_output=False, drop='first').set_output(transform='pandas')

object_imputer = SimpleImputer(strategy='most_frequent', fill_value='unknown' ).set_output(transform='pandas')
integer_imputer = SimpleImputer(strategy='median').set_output(transform='pandas')


ct_imputer = make_column_transformer(
    (object_imputer, make_column_selector(dtype_include=[
        'object',
        'category',
    ])),
    (integer_imputer, make_column_selector(dtype_include=[
        'integer',
    ])),
    verbose_feature_names_out=False,
).set_output(transform='pandas')
 
ct_ohe = make_column_transformer(
    ('passthrough', make_column_selector(dtype_exclude=[
        'object',
        'category',
    ])),
    (ohe, make_column_selector(dtype_include=[
        'object',
        'category',
    ])),
    verbose_feature_names_out=False,
).set_output(transform='pandas')

In [ ]:
#Actual code
ohe = OneHotEncoder(sparse_output=False, drop='first').set_output(transform='pandas')

object_imputer = SimpleImputer(strategy='most_frequent', fill_value='unknown' ).set_output(transform='pandas')
integer_imputer = SimpleImputer(strategy='median').set_output(transform='pandas')


ct_imputer = make_column_transformer(
    (object_imputer, make_column_selector(dtype_include=[
        'object',
        'category',
    ])),
    (integer_imputer, make_column_selector(dtype_include=[
        'integer',
    ])),
    verbose_feature_names_out=False,
).set_output(transform='pandas')
 
ct_ohe = make_column_transformer(
    ('passthrough', make_column_selector(dtype_exclude=[
        'object',
        'category',
    ])),
    (ohe, make_column_selector(dtype_include=[
        'object',
        'category',
    ])),
    verbose_feature_names_out=False,
).set_output(transform='pandas')

In [ ]:
lr = LogisticRegression()
# knn = KNeighborsClassifier()
# gnb = GaussianNB()

pipe = Pipeline([
    ('ct_imputer', ct_imputer),
    ('ct_ohe', ct_ohe),
    ('lr', lr),
])

params = {
    "lr__solver": [
        'lbfgs',
        'liblinear',
        'newton-cg',
        'newton-cholesky',
        'sag',
        'saga',
   ],
    "lr__multi_class": [
        "ovr",
        "multinomial"
    ],
    "lr__C" : np.linspace(0.001, 10, 10)
}

In [ ]:
kfold = StratifiedKFold(n_splits=5, random_state=24, shuffle=True)

gcv = GridSearchCV(
    estimator=pipe,
    param_grid=params,
    cv=kfold,
)

gcv.fit(X_train, y_train)

In [50]:
print(gcv.best_params_)
print(gcv.best_score_)

pd_cv = pd.DataFrame(gcv.cv_results_)
print(pd_cv.shape)

{'lr__C': 0.001, 'lr__multi_class': 'ovr', 'lr__solver': 'lbfgs'}
nan
(120, 16)

In [ ]:
y_pred = gcv.predict(X_test)

In [ ]:
print(y_pred.shape)
y_pred_proba = gcv.predict_proba(X_test)
print(y_pred_proba.shape)

print(accuracy_score(y_test, y_pred))

print(roc_auc_score(y_test, y_pred_proba))