In [29]:
import warnings
warnings.filterwarnings("ignore")

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.compose import make_column_selector, make_column_transformer

In [31]:
hr_df = pd.read_csv(r'C:\Users\DAI.STUDENTSDC\Desktop\Machine Learning\Data Sets\Cases\human-resources-analytics\HR_comma_sep.csv')
hr_df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.10,0.77,6,247,4,0,1,0,sales,low
3,0.92,0.85,5,259,5,0,1,0,sales,low
4,0.89,1.00,5,224,5,0,1,0,sales,low

In [32]:
X = hr_df.drop('left', axis=1)
y = hr_df['left']

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

In [34]:
ohe = OneHotEncoder(
    sparse_output=False, 
    drop='first', 
    handle_unknown='ignore'
).set_output(transform='pandas')

ct = make_column_transformer(
    ('passthrough', make_column_selector(dtype_exclude=object)),
    (ohe, make_column_selector(dtype_exclude=object)),
    verbose_feature_names_out=False
).set_output(transform='pandas')

--- 
Linear DA

In [ ]:
lda = LinearDiscriminantAnalysis()
pipe = Pipeline([
    ('CT', ct),
    ('DA', lda)
])

pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

print("LDA Accuracy: ",accuracy_score(y_test,y_pred))

LDA Accuracy:  0.944432096021338

---
Quadratic DA

In [ ]:
qda = QuadraticDiscriminantAnalysis()
pipe = Pipeline([
    ('CT', ct),
    ('DA', qda)
])  

pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

print("QDA Accuracy: ",accuracy_score(y_test,y_pred))

QDA Accuracy:  0.6301400311180262