In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.compose import make_column_selector, make_column_transformer

In [11]:
df = pd.read_csv(r'C:\Users\DAI.STUDENTSDC\Desktop\Machine Learning\Data Sets\Cases\Satellite Imaging\Satellite.csv', sep=';')

X = df.drop(['classes'], axis=1)
y = df['classes']

In [12]:
y.value_counts()

classes
red soil               1533
very damp grey soil    1508
grey soil              1358
vegetation stubble      707
cotton crop             703
damp grey soil          626
Name: count, dtype: int64

In [14]:
X.describe()

,x.1,x.2,x.3,x.4,x.5,x.6,x.7,x.8,x.9,x.10,...,x.27,x.28,x.29,x.30,x.31,x.32,x.33,x.34,x.35,x.36
count,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,...,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,69.400000,83.594872,99.290598,82.592696,69.150272,83.243512,99.110645,82.497125,68.912354,82.893085,...,99.214763,82.660606,68.944056,83.145610,99.111888,82.618026,68.727584,82.858897,98.926030,82.505361
std,13.605871,22.882234,16.645944,18.897674,13.561197,22.886495,16.664088,18.940923,13.470599,22.862255,...,16.612514,18.991281,13.492684,22.847199,16.704305,19.043661,13.401603,22.816959,16.695488,19.054274
min,39.000000,27.000000,53.000000,33.000000,39.000000,27.000000,50.000000,29.000000,40.000000,27.000000,...,50.000000,29.000000,39.000000,27.000000,50.000000,29.000000,39.000000,27.000000,50.000000,29.000000
25%,60.000000,71.000000,85.000000,69.000000,60.000000,71.000000,85.000000,69.000000,60.000000,71.000000,...,85.000000,69.000000,60.000000,71.000000,85.000000,69.000000,60.000000,71.000000,85.000000,68.000000
50%,68.000000,87.000000,101.000000,81.000000,68.000000,85.000000,101.000000,81.000000,67.000000,85.000000,...,100.000000,81.000000,68.000000,85.000000,100.000000,81.000000,67.000000,84.000000,100.000000,81.000000
75%,80.000000,103.000000,113.000000,92.000000,80.000000,103.000000,113.000000,92.000000,79.000000,102.000000,...,113.000000,92.000000,79.000000,103.000000,113.000000,92.000000,79.000000,103.000000,113.000000,92.000000
max,104.000000,137.000000,140.000000,154.000000,104.000000,137.000000,145.000000,157.000000,104.000000,130.000000,...,140.000000,154.000000,104.000000,130.000000,145.000000,157.000000,104.000000,130.000000,145.000000,157.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 37 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   x.1      6435 non-null   int64
 1   x.2      6435 non-null   int64
 2   x.3      6435 non-null   int64
 3   x.4      6435 non-null   int64
 4   x.5      6435 non-null   int64
 5   x.6      6435 non-null   int64
 6   x.7      6435 non-null   int64
 7   x.8      6435 non-null   int64
 8   x.9      6435 non-null   int64
 9   x.10     6435 non-null   int64
 10  x.11     6435 non-null   int64
 11  x.12     6435 non-null   int64
 12  x.13     6435 non-null   int64
 13  x.14     6435 non-null   int64
 14  x.15     6435 non-null   int64
 15  x.16     6435 non-null   int64
 16  x.17     6435 non-null   int64
 17  x.18     6435 non-null   int64
 18  x.19     6435 non-null   int64
 19  x.20     6435 non-null   int64
 20  x.21     6435 non-null   int64
 21  x.22     6435 non-null   int64
 22  x.23     6435 non-null   int64
 23  x.24     6435 non-null   int64
 24  x.25     6435 non-null   int64
 25  x.26     6435 non-null   int64
 26  x.27     6435 non-null   int64
 27  x.28     6435 non-null   int64
 28  x.29     6435 non-null   int64
 29  x.30     6435 non-null   int64
 30  x.31     6435 non-null   int64
 31  x.32     6435 non-null   int64
 32  x.33     6435 non-null   int64
 33  x.34     6435 non-null   int64
 34  x.35     6435 non-null   int64
 35  x.36     6435 non-null   int64
 36  classes  6435 non-null   object
dtypes: int64(36), object(1)
memory usage: 1.8+ MB

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

In [18]:
lda = LinearDiscriminantAnalysis()
pipe = Pipeline([
    ('DA', lda)
])

pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

print("LDA Accuracy: ",accuracy_score(y_test,y_pred))

LDA Accuracy:  0.8353184878301398

In [19]:
qda = QuadraticDiscriminantAnalysis()
pipe = Pipeline([
    ('DA', qda)
])  

pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

print("QDA Accuracy: ",accuracy_score(y_test,y_pred))

QDA Accuracy:  0.8503366131538063

---
LDA(Transformation) With KNN(Classification)

In [28]:
lda = LinearDiscriminantAnalysis()
knnc = KNeighborsClassifier()

pipe = Pipeline([
    ('DA', lda),
    ('KNNC', knnc)
])


params = {
    'KNNC__n_neighbors': np.arange(1,9)
}

kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=24)


# Apply GridSearchCV
gcv = GridSearchCV(pipe, param_grid=params, cv=kfold, scoring='accuracy')
gcv.fit(X_train, y_train)


y_pred = gcv.best_estimator_.predict(X_test)

# Output best parameters and scores
print("Best Parameters:", gcv.best_params_)
print("Best Score:", gcv.best_score_)

print("LDA Accuracy: ",accuracy_score(y_test,y_pred))

Best Parameters: {'KNNC__n_neighbors': 7}
Best Score: 0.8761092613145888
LDA Accuracy:  0.875712066286898